*{
    margin: 0;
    padding: 0;
    font-family: Nunito;
}
a{
text-decoration:none;
color:#fff;
}
.main{
    margin-top: 100px;
    margin-left: 40px;
    align-items: center;
}
.main2{
    margin-top: 160px;
    margin-left: 40px;
    align-items: center;
}
.navbar{
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.05);
    color: #9B9B9B;
    background-color: #fff;
}
.nn{

box-shadow: 29px -33px 43px 21px rgba(0,0,0,0.1);
width:900px;
margin-bottom:40px;
border-radius:15px;
}

.borda{
    font-weight: 20px;
}
.h3-text{
    margin: 25px;
    margin-bottom: 30px;
}
.left-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -20px;
}
.left-content span{
    margin-top: 30px;
    font-size: 19px;
    font-weight: 600;
}
.left-content button{
    width: 405px;
    padding-top: 17px;
    padding-bottom: 17px;
    margin-top: 30px;
}
.right-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;

}
.right-content img{
    width: 450px;
    margin-right: 20px;
}
.ball1{
    position: absolute;
    width: 130px;
    height: 130px;
    background-color: #6B2AEE;
    border-radius: 100%;
    margin-top: 60px;
    right: 40px;
}
.ball2{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #D7D9DD;
    border-radius: 100%;
    margin-top: 430px;
    right: 50px;
}
.css-1txnehq{
    margin-top: -47px;
    box-sizing: border-box;
    background: linear-gradient(180deg, #02E7D9 0%, #6B2AEE 100%);
    color: #fff;
    padding-bottom: 160px;
}
.MuiContainer-root{
font-family: Poppins, Roboto, sans-serif;
color: #fff;
width: 100%;
margin-left: auto;
box-sizing: border-box;
margin-right: auto;
display: block;
padding-left: 24px;
padding-right: 24px;

}
.risco{
    width: 44px;
    height: 2px;
    background-color: currentColor;
}
.border{
    border-color: #6B2AEE;
}
.hh{
    list-style: none;
    text-align: left;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    font-family: Poppins,Roboto,sans-serif;
    font-size: 1.25rem;
    line-height: 1;
    border-radius: 50%;
    overflow: hidden;
    user-select: none;
    color: #fff;
    background-color: transparent;
    border: 2px solid currentColor;
    box-sizing: content-box;
    padding: 20px;
    margin-right: 32px;
}
.gridd{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    list-style: none;
}

hr{
    display: none;
}
footer{
    background-color: #6B2AEE;
    color: #fff;
    padding-bottom: 50px;
}

/* RESPONSIVIDADE */
@media(min-width: 900px){

}
@media(max-width: 930px){
    .top{
        display: none;
    }
    .main{
        height: 260px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .left-content{
        margin-top: 30px;
    }
    .left-content button{
        width: 200px;
        padding-bottom: 5px;
        padding-top: 5px;
    }
    .gridd{
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 0;
    }
    hr{
        display: flex;
    }
    .hh{
        list-style: none;
        text-align: left;
        position: relative;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        flex-shrink: 0;
        width: 40px;
        height: 40px;
        font-family: Poppins,Roboto,sans-serif;
        font-size: 1.25rem;
        line-height: 1;
        border-radius: 50%;
        overflow: hidden;
        user-select: none;
        color: #fff;
        background-color: transparent;
        border: 2px solid currentColor;
        box-sizing: content-box;
        padding: 10px;
        margin-right: 15px;
    }
    .MuiListItemAvatar-root{
        margin: 0;
        padding: 0;
    }
    .foot{
        flex-direction: column;
    }
    .list-group{
        display: none;
    }
}